img {
  max-width: 600px;
  max-height: 200px;
  padding: 14px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #a9c8ec;
  padding: 10px;
}

.grid-item {
  background-color: #E3E6EB;
  border: 1px solid #a9c8ec;
  padding: 20px;
  font-size: 20px;
  text-align: left;
}
